:root {
    --color-light-50: #f8fafc;
    --color-orange-50: #ffb71c;
    --color-dark-orange-100: #f19832;
    --color-gradient: linear-gradient(90deg, var(--color-orange-50), var(--color-dark-orange-100));
}

body {
    padding-top:20px;
    font-family: Arial, sans-serif;
    background: var(--color-gradient);
    margin: 0;
}
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}
.container {
    padding: 10px;
}
.post {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 25px;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    height: 320px; 
    transition: transform 0.3s ease-in-out; 
    position: relative; 
}
.post:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.post img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 150px; 
}
.post h2 {
    margin-top: 5px;
}
.post p {
    margin-top: 5px;
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.voting {
    font-weight: bold;
    position: relative;
    bottom: 10px;
    background-color: #4CAF50;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(20, 20, 20);
}
.stars {
    text-align: center; 
    margin-top: 10px; 
    margin-bottom: 50px;
}
.stars i {
    font-size: 18px;
    color: #FFD700; 
    margin: 2px; 
}
@media only screen and (max-width: 768px) {
    .post {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 480px) {
    .post {
        width: calc(85% - 20px);
    }
}