@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Playball&family=Playfair:wght@400;500;700;900&family=Poppins:wght@500;700;900&display=swap');

:root {
    --color-light-50: #f8fafc;
    --color-orange-50: #ffb71c;
    --color-dark-orange-100: #bc6c0e;
    --color-gradient: linear-gradient(90deg, var(--color-orange-50), var(--color-dark-orange-100));
}
    body {
        font-family: 'Montserrat', sans-serif;
        background: var(--color-gradient);
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .container {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        text-align: right;
    }
    .form-group {
        margin-bottom: 20px;
        text-align: left;
        position: relative;
        width: 100%;
    }
    label {
        display: block;
        margin-bottom: 5px;
    }
    .input-with-icon {
        position: relative;
        width: 100%;
    }
    input[type="text"],
    input[type="password"] {
        width: calc(100% - 60px);
        padding: 10px 30px 10px 30px;
        border: 1px solid #ccc;
        border-radius: 3px;
        color: #333;
        box-sizing: border-box;
    }
    input[type="text"]::placeholder,
    input[type="password"]::placeholder {
        color: #888;
    }
    .icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #888;
    }
    input[type="submit"] {
        background: linear-gradient(to bottom, #ffb71c, #bc6c0e);
        color: #ffffff;
        padding: 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background 0.3s;
        width: 100%;
    }

    input[type="submit"]:hover {
        background: linear-gradient(to bottom, #bc6c0e, #bc6c0e);
    }

    .forgot-password {
        text-align: right;
        margin-top: 10px;
    }

    .register-link {
        text-align: center;
        margin-top: 20px;
    }
    .back-button {
        position: absolute;
        top: 10px;
        left: 10px;
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .container {
            max-width: 100%;
        }
    }