body{
    background-color: #ffb71c;
    margin: 0;

}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

button {
    font-size: 18px;
    width: 200px;
    height: 80px;
    margin-bottom: 23px;
    color: #bc6c0e;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ffc17b
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.escudo img {
    width: 100px; 
    height: auto;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.background-cz {
    background: url('/assets/img/cz.png') center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}