@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Playball&family=Playfair:wght@400;500;700;900&family=Poppins:wght@500;700;900&display=swap');

:root {
    --color-light-50: #f8fafc;

    --color-orange-50: #ffb71c;
    --color-dark-orange-100: #bc6c0e;

    --color-gradient: linear-gradient(90deg, var(--color-orange-50), var(--color-dark-orange-100));
}
/* Remova o bloco de :root se não estiver sendo usado em outros lugares */

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-cz {
    background: url('/assets/img/cz.png') center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 150px;
    height: auto;
}

.container {
    text-align: center;
    color: var(--color-dark-orange-100);
}

.meio-container {
    font-size: 2rem;
    margin-top: 1rem;
    line-height: 1.5;
}

.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.button a,
.button button {
    display: inline-block;
    background-color: var(--color-dark-orange-100);
    color: #fff;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button a:hover,
.button button:hover {
    background-color: var(--color-orange-50);
}

.container_2 {
    background-color: var(--color-dark-orange-100);
    color: #fff;
    margin-top: 30vh;
    padding: 50px;
    text-align: center;
    width: 100%;
}

.footer {
    margin-top: 20px;
}

header {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

.escudo img {
    width: 80px; 
    height: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}