@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Playball&family=Playfair:wght@400;500;700;900&family=Poppins:wght@500;700;900&display=swap');
:root {
    --color-light-50: #f8fafc;
    --color-orange-50: #ffb71c;
    --color-dark-orange-100: #f19832;
    --color-gradient: linear-gradient(90deg, var(--color-orange-50), var(--color-dark-orange-100));
}
body{
    background: var(--color-gradient);
    padding: 25px;
    font-family:'Montserrat', sans-serif;
}

.background-cz {
    background: url('/assets/img/cz.png') center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0,0,0,1px);
}

table {
            border-collapse: collapse;
            width: 75%;
            margin: 20px auto;
        }

        th, td {
            border: 2px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ffffff65;
        }

        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
        }
        
        .escudo img {
            width: 100px; 
            height: auto;
        }
        .back-button {
            font-size:24px;
            position: absolute;
            top: 10px;
            left: 10px;
            text-decoration: none;
            color: #ffffff;
        }